footer {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    padding: 15px 25px;
    height: 167px;
}

footer h2 {

    font-size: 18px;
    font-family: 'Shrikhand', italic;
    font-weight: 400;
    padding-bottom: 12px;
    margin-top: 15px;

}

footer ul {


    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

footer li i {

    margin-right: 10px;

}

footer ul li a {
    color: white;
    text-decoration: none;
    
}

/* footer_end */