/* SECTION FORM */
main .section-form {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    background: #EAEAEA;
    box-shadow: 0 -2px 4px -2px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}

/* FORM */
main .section-form .form {
    display: flex;
}

/* FORM-ICON */
main .section-form .form .form-position-icon {
    margin-left: 5px;
}

/* FORM TEXT */
main .form .form-text {
    display:flex;
    padding: 0 15px;
    font-size: 16px;
    font-weight:bold;
    color: var(--black);
}